.card {
  background-color: #17181d;
  width: 85%;
  height: 15%;
  margin: 20px auto;

  box-shadow: inset 0 0 7px 0 #cb3535;
  border-radius: 40px;
  .imgcontainer {
    .card-img-top {
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      height: 15rem;
    }
  }
  .card-body {
    margin-top: 0.5rem;
    .textCard {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .icoConice {
        color: white;
      }
    }
  }
  .card-text {
    margin-left: 1rem;
    color: #fff;
  }
  .card-title {
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-size: 2.5rem;
  }
}
.img_experiencia {
  display: block;
  margin: auto;

  max-width: 150px;
}
.item_experiencia {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 5px;
}
.btnFlashero {
  margin-left: 1rem;
  width: 6rem;
}
