<div [class]="claseProyecto" style="max-width: 80%;">
  <div class="row g-0">
    <div class="col-md-3 img_experiencia">
      <img
        *ngIf="imagenData"
        [src]="imagenData.imagenUrl"
        class="img-fluid rounded-start"
        alt="Logo"
      />
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{proyecto.nombre}}</h5>

        <p class="card-text">
          {{proyecto.descripcion}}
        </p>
        <a href="#">{{proyecto.link}}</a>
      </div>
    </div>
    <app-formproyectos
      *ngIf="modifico"
      (evento)="evento($event)"
      [proyecto]="proyecto"
      [item]="item"
      [modifico]="modifico"
    ></app-formproyectos>
  </div>
  <div class="container btnOptions">
    <button
      type="button"
      class="btnFlashero mb-3"
      *ngIf="!modifico && isAdmin"
      (click)="CambioModifico()"
    >
      Editar
      <fa-icon [icon]="faEdit" style="color: rgb(228, 231, 82);"></fa-icon>
    </button>
    <button
      *ngIf="!modifico && isAdmin"
      type="button"
      class="btnFlashero mb-3"
      (click)="eliminarProyecto()"
    >
      <fa-icon [icon]="faDelete" style="color: rgb(226, 95, 72);"></fa-icon>
    </button>
  </div>
</div>
