<div class="card cardprincipal">
  <div class="card-body">
    <h5 class="card-title">Proyectos</h5>
    <span *ngIf="!nuevaProy">
      <app-itemproy
        *ngFor="let proyectoItem of proyectoList;let i=index "
        [proyecto]="proyectoItem"
        [indexProy]="i"
      ></app-itemproy>
    </span>
    <app-formproyectos
      *ngIf="nuevaProy"
      (evento)="graboNuevaExp()"
    ></app-formproyectos>
    <button
      type="button"
      class="btnFlashero mt-2"
      *ngIf="userService.userlogin && !nuevaProy"
      (click)="nuevaExpeFuncion()"
    >
      Agregar
      <fa-icon [icon]="faAdd" style="color: rgb(72, 226, 98);"></fa-icon>
    </button>
  </div>
</div>
