<div class="card">
  <div class="card-body">
    <h5 class="card-title">Proyectos</h5>
    <div class="textCard">
      <ul>
        <li>Proyectos</li>
        <li>Proyectos</li>
      </ul>
    </div>
    <app-formproyectos *ngIf="modifico"></app-formproyectos>
    <button
      type="button"
      class="btnFlashero"
      (click)="CambioModifico()"
      *ngIf="userService.userlogin && !modifico"
    >
      {{(modifico)?"Grabar":"Editar"}}
      <fa-icon [icon]="faEdit" style="color: rgb(226, 95, 72);"></fa-icon>
    </button>
    <button
      type="button"
      class="btnFlashero"
      *ngIf="userService.userlogin && !modifico"
    >
      {{(modifico)?"Grabar":"Agregar"}}
      <fa-icon [icon]="faAdd" style="color: rgb(72, 226, 98);"></fa-icon>
    </button>
  </div>
</div>
