<div class="card cardprincipal">
  <div class="card-body">
    <h5 class="card-title">Educacion</h5>
    <span *ngIf="!nuevaEdu">
      <app-itemeducacion
        *ngFor="let educacionItem of educacionList;let i=index "
        [educacion]="educacionItem"
        [indexEdu]="i"
      ></app-itemeducacion>
    </span>
    <app-formeduc *ngIf="nuevaEdu" (evento)="graboNuevaEdu()"></app-formeduc>
    <button
      type="button"
      class="btnFlashero mt-2"
      *ngIf="userService.userlogin && !nuevaEdu"
      (click)="nuevaEduFuncion()"
    >
      Agregar
      <fa-icon [icon]="faAdd" style="color: rgb(72, 226, 98);"></fa-icon>
    </button>
  </div>
</div>
