<div class="card cardprincipal">
  <div class="card-body">
    <h5 class="card-title">Educacion</h5>

    <app-itemeducacion
      *ngFor="let educacionItem of educacionList;let i=index "
      [educacion]="educacionItem"
      [item]="i"
    ></app-itemeducacion>

    <app-formeduc
      *ngIf="nuevaEdu"
      [nuevaEdu]="nuevaEdu"
      (evento)="graboNuevaEdu()"
    ></app-formeduc>
    <button
      type="button"
      class="btnFlashero mt-2"
      *ngIf="!nuevaEdu"
      (click)="nuevaEduFuncion()"
    >
      Agregar
      <fa-icon [icon]="faAdd" style="color: rgb(72, 226, 98);"></fa-icon>
    </button>
  </div>
</div>
