.card {
  background-color: #17181d;
  width: 85%;
  height: 15%;
  margin: 20px auto;
  background-image: linear-gradient(to bottom right, #11141a, #1c3c66);
  box-shadow: inset 0 0 7px 0 #3577cb;
  border-radius: 40px;
}

.item_experiencia {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 5px;
}
