<div [class]="claseform" *ngIf="modifico || nuevaExpe">
  <form [formGroup]="expDataForm">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="empresa" class="form-label">Empresa</label>
          <input type="text" class="form-control" formControlName="empresa" />
          <p
            class="alert alert-danger"
            *ngIf="expDataForm.get('empresa')?.touched && expDataForm.get('empresa')?.errors?.['required']"
          >
            La Empresa es requerida
          </p>
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripcion</label>
          <textarea
            rows="4"
            class="form-control"
            formControlName="descripcion"
            placeholder="Descripcion"
          >
          </textarea>
          <p
            class="alert alert-danger"
            *ngIf="expDataForm.get('descripcion')?.touched && expDataForm.get('descripcion')?.errors?.['required']"
          >
            Una descripcion es requerida
          </p>
        </div>
        <div class="mb-3">
          <label for="puesto" class="form-label">Puesto</label>
          <input type="text" class="form-control" formControlName="puesto" />
          <p
            class="alert alert-danger"
            *ngIf="expDataForm.get('puesto')?.touched && expDataForm.get('puesto')?.errors?.['required']"
          >
            Un Puesto es requerida
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="empresa" class="form-label">Fecha Ingreso</label>
          <input type="text" class="form-control" formControlName="fechaIni" />
        </div>
        <div class="mb-3">
          <label for="empresa" class="form-label">Fecha Finalizacion</label>
          <input type="text" class="form-control" formControlName="fechaFin" />
        </div>
        <input
          type="text"
          class="form-control"
          formControlName="imgUser"
          hidden
        />
        <h4>Imagen</h4>
        <div *ngIf="errMsje" class="alert alert-danger">{{errMsje}}</div>
        <div class="mb-3 custom-file">
          <input
            accept="image/*"
            type="file"
            class="file-upload"
            (change)="onFileChange($event)"
          />
          <div *ngIf="imagen" class="mt-5">
            <div>
              <img
                alt="imagen"
                class="image-thumbnail"
                style="max-width: 100px;"
                [src]="imagenMin"
              />
            </div>
          </div>
        </div>
        <div class="container mt-5">
          <button
            type="submit"
            class="btn btnFlashero"
            (click)="emitirEvento('guardar')"
            [disabled]="expDataForm.invalid"
          >
            Guardar
          </button>
          <button class="btn btnFlashero" (click)="emitirEvento('cancelar')">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
