<div class="card mb-3 item_experiencia" style="max-width: 80%;">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>{{educacion.fecha}}</h5>
      </div>
      <div class="col-md-9 text-center">
        <h4>{{educacion.institucion}}</h4>
        <p>{{educacion.titulo}}</p>
      </div>
    </div>
  </div>
  <app-formeduc
    *ngIf="modifico"
    (evento)="evento($event)"
    [educacion]="educacion"
    [item]="item"
    [modifico]="modifico"
  ></app-formeduc>
  <div class="container btnOptions">
    <button
      *ngIf="!modifico"
      type="button"
      class="btnFlashero mb-3"
      (click)="CambioModifico()"
    >
      Editar
      <fa-icon [icon]="faEdit" style="color: rgb(228, 231, 82);"></fa-icon>
    </button>
    <button
      *ngIf="!modifico"
      type="button"
      class="btnFlashero mb-3"
      (click)="eliminarEducacion()"
    >
      <fa-icon [icon]="faDelete" style="color: rgb(226, 95, 72);"></fa-icon>
    </button>
  </div>
</div>
