.logoarprogImg {
  height: 50px;
  width: auto;
  padding: 0;
  margin-top: -10px;
}
.logoarprog {
  height: 2.5rem;
  text-decoration: none;
  padding: 5px;
}
a {
  padding: 13px;
  border-radius: 40px;
}
a:hover {
  color: white;
  text-decoration: none;
  background-color: #1a1111;
  box-shadow: inset 0 0 7px 0 rgb(40, 141, 209);
}
.redes {
  display: flex;
  justify-content: flex-start;
}
.loginOut {
  padding-top: 0.6rem;
  a {
    text-decoration: none;
    color: white;
  }
  span {
    margin-right: 0.3rem;
  }
}
.username {
  height: 3rem;
  padding-top: 0.6rem;
}
.login {
  height: 3rem;
  margin-left: 0.3rem;
  margin-top: 0.6rem;
}
.botonesNav {
  justify-content: flex-end;
  margin-right: 5rem;
}
.header {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: inset 0 0 7px 0 rgb(209, 40, 40);
  /*max-height: 3rem; */
}
