<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row">
    <div class="hederizq">
      <a
        class="py-2"
        href="https://argentinaprograma.inti.gob.ar/"
        class="logoarprog"
      >
        <img
          class="logoarprog"
          src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1638313837/APLogo-20-20.png"
        />
      </a>
    </div>

    <div class="headerderecha">
      <div class="redes">
        <a class="py-2 d-none d-md-inline-block" href="#"
          ><i class="fab fa-whatsapp"></i
        ></a>
        <a class="py-2 d-none d-md-inline-block" href="#"
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="py-2 d-none d-md-inline-block" href="#"
          ><i class="fab fa-facebook-square"></i
        ></a>
      </div>
      <div class="login">
        <a class="py-2 d-none d-md-inline-block" href="#"
          ><fa-icon [icon]="faBlog" style="color: rgb(226, 95, 72);"></fa-icon
        ></a>
      </div>
    </div>
  </nav>
</header>
