.site-header {
  height: 3rem;
  .container {
    justify-content: space-between;
    .hederizq {
      .logoarprog {
        height: 3rem;
        width: 5rem;
      }
    }
    .headerderecha {
      display: flex;
      justify-content: space-between;

      width: 10rem;
      height: 3rem;
    }
    .login {
      height: 3rem;
    }
  }
  .py-2 {
    color: rgb(109, 103, 103);
  }
  a {
    padding: 5px;
    border-radius: 40px;
  }
  a:hover {
    color: white;
    text-decoration: none;
    background-color: #1a1111;
    box-shadow: inset 0 0 7px 0 rgb(209, 40, 40);
  }
}
