.site-header {
  height: 3rem;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: inset 0 0 7px 0 rgb(209, 40, 40);
  .container {
    justify-content: space-between;
    .hederizq {
      .logoarprog {
        height: 3rem;
        width: 5rem;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 0.7rem;
      }
      a {
        padding: 13px;
        border-radius: 40px;
      }
      a:hover {
        color: white;
        text-decoration: none;
        background-color: #1a1111;
        box-shadow: inset 0 0 7px 0 rgb(40, 141, 209);
      }
    }
    .headerderecha {
      display: flex;
      justify-content: space-between;

      width: auto;
      height: 3rem;
      a {
        padding: 13px;
        border-radius: 40px;
      }
      a:hover {
        color: white;
        text-decoration: none;
        background-color: #1a1111;
        box-shadow: inset 0 0 7px 0 rgb(40, 141, 209);
      }
    }
    .login {
      height: 3rem;
      margin-left: 1.5rem;
    }
  }
  .py-2 {
    color: rgb(109, 103, 103);
  }
}
.redes {
  display: flex;
  justify-content: flex-start;
}
.loginOut {
  a {
    text-decoration: none;
  }
  span {
    margin-right: 0.3rem;
  }
}
