.card {
  background-color: #17181d;
  width: 85%;
  height: 15%;
  margin: 20px auto;
  background-image: linear-gradient(to bottom right, #11141a, #1c3c66);
  box-shadow: inset 0 0 7px 0 #3577cb;
  border-radius: 40px;
}

.item_experiencia {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 5px;
}
.card-title {
  color: #ffffff;
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 2.5rem;
  text-align: center;
}

.border-rotation {
  z-index: 100;
  height: 100px;
  width: 200px;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
  background-color: #17181d;
}
.border-rotation:before {
  background-image: conic-gradient(#04b0ee 30deg, transparent 120deg);
  content: "";

  height: 250%;
  width: 150%;
  position: absolute;
  left: -25%;
  top: -65%;
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
.border-rotation:after {
  content: "Experiencia";
  height: 93%;
  width: 94%;
  position: absolute;
  background-color: #17181d;
  border-radius: 20px;
  top: 3%;
  left: 3%;
  color: #04b0ee;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 6px;
}
