<div class="card cardprincipal">
  <div class="card-body">
    <div class="border-rotation"></div>

    <app-itemexperiencia
      *ngFor="let experienciaItem of experienciaList;let i=index "
      [experiencia]="experienciaItem"
      [item]="i"
    ></app-itemexperiencia>

    <app-formexper
      *ngIf="nuevaExpe"
      [nuevaExpe]="nuevaExpe"
      (evento)="graboNuevaExp()"
    ></app-formexper>

    <button
      type="button"
      class="btnFlashero mt-2"
      (click)="nuevaExpeFuncion()"
      *ngIf="!nuevaExpe && isAdmin"
    >
      Agregar
      <fa-icon [icon]="faAdd" style="color: rgb(72, 226, 98);"></fa-icon>
    </button>
  </div>
</div>
