.site-header {
  height: 4rem;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: inset 0 0 7px 0 rgb(209, 40, 40);
  .container {
    justify-content: space-between;
    .logoarprog {
      height: 4rem;
      width: 5.5rem;
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: 0.7rem;
    }
    .logoarprogImg {
      height: 4rem;
      width: 5.5rem;
      background-color: blue;
    }
    .hederizq {
      a {
        padding: 13px;
        border-radius: 40px;
      }
      a:hover {
        color: white;
        text-decoration: none;
        background-color: #1a1111;
        box-shadow: inset 0 0 7px 0 rgb(40, 141, 209);
      }
    }
    .headerderecha {
      display: flex;
      justify-content: space-between;

      width: auto;
      height: 3.5rem;
      a {
        padding: 13px;
        border-radius: 40px;
      }
      a:hover {
        color: white;
        text-decoration: none;
        background-color: #1a1111;
        box-shadow: inset 0 0 7px 0 rgb(40, 141, 209);
      }
    }
  }
}
.redes {
  display: flex;
  justify-content: flex-start;
}
.loginOut {
  padding-top: 0.6rem;
  a {
    text-decoration: none;
    color: white;
  }
  span {
    margin-right: 0.3rem;
  }
}
.username {
  height: 3rem;
  padding-top: 0.6rem;
}
.login {
  height: 3rem;
  margin-left: 0.3rem;
  margin-top: 0.6rem;
}
.botonesNav {
  justify-content: flex-end;
  margin-right: 5rem;
}
