<div class="container">
  <form class="container-form" (submit)="ingresar()">
    <div class="mb-3">
      <label for="usuario" class="form-label">Email</label>
      <input
        type="text"
        class="form-control"
        name="mail"
        [(ngModel)]="usuario.mail"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="exampleInputPassword1"
        [(ngModel)]="usuario.password"
      />
    </div>

    <div class="container-btnlogin">
      <button type="submit" class="btn btnFlashero btnLogin">
        Login
      </button>
    </div>
    <div class="registrarce">
      <a href="#">Registrarse aqui!</a>
    </div>
  </form>
</div>
