.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form {
  margin-top: 5%;
  min-width: 200px;
  width: 99%;
  padding: 2rem;
  border-radius: 15px;
  background-image: linear-gradient(to bottom right, #11141a, #31123a);
  box-shadow: inset 0 0 7px 0 rgb(209, 40, 40);
  .container-btnlogin {
    display: flex;
    justify-content: center;
    .btnLogin {
      width: 100%;
      display: block;

      margin-top: 10px;
      color: white;
      font-size: 1.5rem;
    }
  }
  .btnFlashero {
    color: white;
  }
  .custom-file {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
  }
}
