<div *ngIf="datospersonales" [class]="claseform">
  <form [formGroup]="userDataForm" enctype="multipart/form-data">
    <div class="mb-3">
      <h3>Datos personales</h3>
      <label for="usuario" class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre" />
    </div>
    <div class="mb-3">
      <label for="titulo" class="form-label">Titulo</label>
      <input type="text" class="form-control" formControlName="titulo" />
    </div>
    <div class="mb-3">
      <label for="acerdemi" class="form-label">Acerca de mi</label>
      <textarea
        class="form-control"
        rows="5"
        cols="10"
        class="form-control"
        formControlName="aboutMe"
      >
      </textarea>
    </div>
    <input type="text" class="form-control" formControlName="imgUser" hidden />
    <h4>Imagen</h4>
    <div class="mb-3 custom-file">
      <input
        type="file"
        accept="image/*"
        class="file-upload"
        (change)="onFileChange($event)"
        #inputImagen
      />
      <div *ngIf="imagenMin" class="mt-5">
        <div>
          <img
            alt="imagen"
            class="image-thumbnail"
            style="max-width: 100px;"
            [src]="imagenMin"
          />
        </div>
      </div>
    </div>
    <div class="btn-container">
      <button
        class="btn btnFlashero"
        (click)="emitirEvento('guardar')"
        [disabled]="userDataForm.invalid"
      >
        Guardar
      </button>
      <button class="btn btnFlashero" (click)="emitirEvento('cancelar')">
        Cancelar
      </button>
    </div>
  </form>
</div>
