h2 {
  color: gray;
}
.container {
  box-shadow: inset 0 0 7px 0 #3577cb;
  padding: 1rem;
  margin-top: 5%;
  max-width: 75%;
  border-radius: 40px;
}
.botonesHomecontainer {
  box-shadow: inset 0 0 7px 0 #771aac;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.botonesHomecontainer button {
  margin-left: 1rem;
  color: #3577cb;
}
.mitabla {
  width: 100%;
}
tr {
  border-radius: 20px;
  padding: 1rem;
}

tr:hover {
  box-shadow: inset 0 0 7px 0 rgb(209, 40, 40);
  cursor: pointer;
}
img {
  width: 3rem;
  border-radius: 40px;
}
.btn {
  color: red;
}
a {
  padding: 13px;
  border-radius: 40px;
}
a:hover {
  color: white;
  text-decoration: none;
  background-color: #1a1111;
  box-shadow: inset 0 0 7px 0 rgb(40, 141, 209);
}
