<div class="card">
  <div class="imgcontainer">
    <div class="imgheader">
      <img
        src="../../../assets/img/heade3.jpg"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div class="imguser">
      <img
        src="../../../assets/img/foto cv.jpg"
        class="card-img-user"
        alt="..."
      />
    </div>
    <div class="btnEdit">
      <button class="btn btn-primary">
        <fa-icon [icon]="faEdit" style="color: rgb(226, 95, 72);"
          >lalal</fa-icon
        >
      </button>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">Gabriel Perdomo</h5>
    <div class="textCard">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <div class="icoConice">
        <p>Aca van iconos del conicet y no se que mas</p>
      </div>
    </div>

    <a href="#" class="btnFlashero">Go somewhere</a>
  </div>
</div>
