.card {
  background-color: #25262e;
  width: 85%;

  height: 15%;
  margin: 20px auto;
  border: 2px solid #3577cb;
  border-radius: 40px;
  h1 {
    margin-top: 1rem;
  }
  .imgcontainer {
    .card-img-top {
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      height: 15rem;
    }
    .card-img-user {
      width: 11rem;
    }
    .imgheader {
      position: relative;
    }
    .imguser {
      width: 100px;

      position: absolute;
      left: 50px;
      top: 150px;
    }
    .imguser2 {
      width: 200px;
      height: auto;
      position: absolute;
      left: 50px;
      top: 150px;
      box-shadow: 0 0 8px 8px white inset;
      border-radius: 50%;
    }
    .imgUserContainer {
    }
  }
  .card-body {
    margin-top: 0.5rem;
    .textCard {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .icoConice {
        color: white;
      }
      .nivel-academico {
        color: #3577cb;
      }
      .aboutme {
        color: #3577cb;
      }
    }
  }
  .card-text {
    margin-top: 2rem;
    margin-left: 1rem;
    color: #fff;
  }
  .card-title {
    color: #fff;
    margin-left: 3rem;
  }
  .btnEdit {
    margin-left: 14rem;
    .btn-primary {
      background-color: #25262e;
      border-style: none;
    }
  }
  .btnexperiencia {
    background-color: #25262e;
    color: aliceblue;
    border-radius: 10px;
  }
  .btnexperiencia:hover {
    box-shadow: inset 0 0 7px 0 #3577cb;
  }
}
.svg-border-mask {
  -webkit-mask-box-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/stampTiles.svg)
    30 repeat;
  mask-border: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/stampTiles.svg)
    30 repeat;
}
