.card {
  background-color: #25262e;
  width: 85%;
  height: 15%;
  margin: 20px auto;
  border: 2px solid #3577cb;
  border-radius: 40px;
  .imgcontainer {
    .card-img-top {
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      height: 15rem;
    }
    .card-img-user {
      border-radius: 50%;
      width: 11rem;
    }
    .imgheader {
      position: relative;
    }
    .imguser {
      width: 100px;

      position: absolute;
      left: 50px;
      top: 150px;
    }
  }
  .card-body {
    margin-top: 0.5rem;
    .textCard {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .icoConice {
        color: white;
      }
    }
  }
  .card-text {
    margin-left: 1rem;
    color: #fff;
  }
  .card-title {
    color: #fff;
    margin-left: 3rem;
  }
  .btnEdit {
    margin-left: 14rem;
    .btn-primary {
      background-color: #25262e;
      border-style: none;
    }
  }
}
