<div class="card">
  <div class="imgcontainer animate__animated animate__backInDown">
    <div class="imgheader">
      <img
        src="../../../assets/img/heade3.jpg"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div class="animate__animated animate__bounce"></div>
    <div *ngIf="imagenData" class="imgUserContainer">
      <img class="imguser2" [src]="imagenData.imagenUrl" alt="imagen Usuario" />
    </div>
  </div>

  <div class="card-body" *ngIf="datospersonales">
    <div class="textCard">
      <div class="card-text col-sm-6 animate__animated animate__backInLeft">
        <h1 style="text-align: center;">
          {{datospersonales[0].nombre}}
        </h1>

        <h5 class="nivel-academico" style="text-align: center;">
          {{datospersonales[0].titulo}}
        </h5>
      </div>
      <div class="card-text col-sm-6 animate__animated animate__backInRight">
        <h5 class="aboutme">Acerca de mi...</h5>
        <p style="max-width: 500px;">
          {{datospersonales[0].aboutMe}}
        </p>
      </div>
    </div>
    <app-formuserdata
      *ngIf="modifico"
      (evento)="evento($event)"
    ></app-formuserdata>
    <button
      type="button"
      class="btnFlashero"
      (click)="muestroModifico()"
      *ngIf="!modifico && isAdmin"
    >
      {{(modifico)?"Grabar":"Editar"}}
      <fa-icon [icon]="faEdit" style="color: rgb(226, 95, 72);"></fa-icon>
    </button>
  </div>
</div>
