<div class="card">
  <div class="border-rotation"></div>
  <span *ngIf="!nuevaSkill">
    <app-itemskill
      *ngFor="let skillItem of skillList;let i=index "
      [skill]="skillItem"
      [item]="i"
    ></app-itemskill>
  </span>
  <app-formskills
    *ngIf="nuevaSkill"
    [nuevaSkill]="nuevaSkill"
    (evento)="graboNuevaExp()"
  ></app-formskills>
  <div class="container" *ngIf="isAdmin">
    <button type="button" class="btnFlashero" (click)="nuevaSkillFuncion()">
      Agregar
      <fa-icon [icon]="faAdd" style="color: rgb(72, 226, 98);"></fa-icon>
    </button>
  </div>
</div>
