.card {
  background-color: #17181d;
  width: 85%;
  height: auto;
  margin: 20px auto;
  box-shadow: inset 0 0 7px 0 #3577cb;
  border-radius: 40px;
  padding: 10px;
  span {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card-title {
    color: #fff;
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
  }
  .btnexperiencia {
    background-color: #25262e;
    color: aliceblue;
    border-radius: 10px;
  }
  .btnexperiencia:hover {
    box-shadow: inset 0 0 7px 0 #d64a40;
  }
}

.btnFlashero {
  background-color: #17181d;
  margin-bottom: 1rem;
}
.border-rotation {
  z-index: 100;
  height: 100px;
  width: 200px;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
  background-color: #17181d;
}
.border-rotation:before {
  background-image: conic-gradient(#65253b 30deg, transparent 120deg);
  content: "";

  height: 250%;
  width: 150%;
  position: absolute;
  left: -25%;
  top: -65%;
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
.border-rotation:after {
  content: "Skills";
  height: 93%;
  width: 94%;
  position: absolute;
  background-color: #17181d;
  border-radius: 20px;
  top: 3%;
  left: 3%;
  color: #479c4e;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 6px;
}
