<div class="rounderes">
  <div class="rounder">
    <div class="text-rounder">{{skill.valor}}</div>
    <round-progress
      [current]="current"
      [max]="max"
      [radius]="radius"
      [background]="background"
      [color]="color"
    ></round-progress>
    <div class="text-rounder-title">{{skill.skill}}</div>
  </div>
  <app-formskills
    *ngIf="modifico"
    (evento)="evento($event)"
    [skill]="skill"
    [item]="item"
    [modifico]="modifico"
  ></app-formskills>
  <div class="container btnOptions">
    <button
      type="button"
      class="btnFlashero mb-3"
      *ngIf="!modifico && isAdmin"
      (click)="CambioModifico()"
    >
      Editar
      <fa-icon [icon]="faEdit" style="color: rgb(228, 231, 82);"></fa-icon>
    </button>
    <button
      *ngIf="!modifico && isAdmin"
      type="button"
      class="btnFlashero mb-3"
      (click)="eliminarSkill()"
    >
      <fa-icon [icon]="faDelete" style="color: rgb(226, 95, 72);"></fa-icon>
    </button>
  </div>
</div>
