.rounderes {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;

  box-shadow: 0 0 7px 0 #cb3562;
  border-radius: 40px;
}
.rounder {
  .text-rounder {
    position: relative;
    font-size: 2rem;
    top: 41%;
    bottom: auto;
    left: 41%;
  }
  .text-rounder-title {
    margin-top: 1rem;
    text-align: center;
  }
}
.btnFlashero {
  margin-left: 2.5rem;
  margin-top: 1rem;
  background-color: #17181d;
}
.btnOptions {
  display: flex;
  justify-content: space-between;
}
