/* You can add global styles to this file, and also import other style files */
.portfolio {
  background-color: #11141a;
  color: white;
}

.root {
  width: 75%;
}
.btnFlashero {
  background-color: #25262e;
  color: aliceblue;
  border-radius: 10px;
  padding: 9px;
  text-decoration: none;
  transition: all 0.3s;
}
.btnFlashero:hover {
  box-shadow: inset 0 0 7px 0 #3577cb;
  color: aliceblue;
}
