/* You can add global styles to this file, and also import other style files */

.portfolio {
  background-color: #11141a;
  color: white;
  min-height: 100vh;
}

.root {
  width: 100%;
}
.btnFlashero {
  background-color: #25262e;
  color: aliceblue;
  border-radius: 10px;
  padding: 9px;
  text-decoration: none;
  transition: all 0.3s;
  margin-left: 1rem;
  border: none;
  background-color: transparent;
}
.btnFlashero:hover {
  box-shadow: inset 0 0 7px 0 #3577cb;
  color: aliceblue;
}
.cardBg {
  background-color: #17181d;
  width: 85%;
  height: 15%;
  margin: 20px auto;
  background-image: linear-gradient(to bottom right, #11141a, #1c3c66);
  box-shadow: inset 0 0 7px 0 #3577cb;
  border-radius: 40px;
}
